.about {
    &__container {
        display: flex;
        column-gap: 30px;
    }

    &__image {
        width: 350px;
        height: 264px;
    }

    &__content {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #424242;

        &>*:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .about {
        &__container {
            column-gap: 15px;
        }

        &__image {
            width: 300px;
            height: 226px;
        }
    }
}

@media (max-width: 767.98px) {
    .about {
        &__container {
            flex-direction: column;
            row-gap: 20px;
        }

        &__image {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 443px) {
    .about {
        &__main-title {
            margin-top: 20px;
        }
    }
}