.header {
    height: 50px;
    background-color: #000000;

    &__wrapper {
        height: 50px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 116px;
        font-size: 14px;

        &>div {
            font-weight: 500;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
    }

    &__link {
        color: inherit;
    }

    &__time {
        font-weight: 400 !important;
    }

    &__number {
        & span {
            padding-left: 6px;
            color: #E2E2E2;
            font-size: 12px;
            font-weight: 400;
        }
    }
    &__call {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }
    &__input {
        background-color: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        background-image: url('./../images/header/search.svg');
        background-repeat: no-repeat;
        background-position: 1px 1px;
        width: 100px;
    }
}

@media(max-width:1068px) {
    .header {
        &__wrapper {
            margin-left: 0;
        }
    }
}

@media (max-width:832px) {
    .header {
        &__time {
            display: none !important;
        }
    }
}

@media (max-width:767.98px) {
    .header__number {
        & span {
            display: none;
        }
    }
}

@media (max-width:350px) {
    .header__number {
        display: none !important;
    }
}