.main-nav {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    &__container {
        position: relative;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 146px;
        height: auto;
    }
}
.nav-main {
    width: 77.9%;
    &__list {
        display: flex;
        justify-content: space-between;
        & .nav-main__link {
            color: $darkGrey;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
    }
    &__link {
        &:hover .main__nav-tabs{
            display: flex !important;
        }
    }
}

@media(max-width:1068px) {
    .nav-main {
        width: 85%;
    }
}

@media (max-width:960px) {
    .nav-main {
        display: none;
    }
}