.main-map {
    margin-bottom: 30px;

    &__container {
        display: flex;
        gap: 30px;
    }

    & .map {
        width: 70%;
    }

    &__content {
        background-color: #000000;
        border-radius: 4px;
        padding: 45px 30px;
        width: 42%;
    }

    &__name {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #DC4433;
        margin-bottom: 5px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    &__sub-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #E2E2E2;
        margin-bottom: 20px;
    }

    &__button {
        margin-top: 40px;
        width: 100%;
        height: 50px;
    }
}

.map-buttons {
    margin-bottom: 100px;
    &__container {
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
    }

    &__button {
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding: 24px 30px;
        width: 48%;
        height: 110px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
        border: 1px solid #C7C7C7;
        border-radius: 4px;
    }

    &__image {
        width: 62px;
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .main-map {
        &__container {
            flex-direction: column;
        }

        & .map {
            width: 100%;
        }

        &__content {
            width: 100%;
        }
    }
    .map-buttons {
        &__container {
            flex-direction: column;
        }
        &__button {
            width: 100%;
            padding: 24px 10px;
            font-size: 20px;
        }
    }
}

@media (max-width: 443px) {
    .map {
        &__main-title {
            margin-top: 20px;
        }
    }
}