.services {
    margin-bottom: 80px;
    &__items {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 30%;
        min-width: 300px;
        border: 1px solid #C7C7C7;
        box-shadow: 10px 10px 24px rgba(188, 188, 188, 0.25);
        border-radius: 4px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__item-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        padding: 16px 20px;
        background-color: #000000;
    }

    &__more {
        display: flex;
        align-items: center;
        column-gap: 5px;
        margin: 25px 20px 36px;
        cursor: pointer;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #DC4433;
    }
}